ETCD_NAME="etcd-db01"
ETCD_DATA_DIR="/var/lib/etcd/default"
ETCD_LISTEN_CLIENT_URLS="http://192.168.30.2:2379,http://127.0.0.1:2379"
ETCD_ADVERTISE_CLIENT_URLS="http://192.168.30.2:2379"
ETCD_LISTEN_PEER_URLS="http://192.168.30.2:2380"
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://192.168.30.2:2380"
ETCD_INITIAL_CLUSTER="etcd-lb01=http://192.168.30.10:2380,etcd-lb02=http://192.168.30.20:2380,etcd-db01=http://192.168.30.2:2380"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_INITIAL_CLUSTER_TOKEN="projecte7-etcd"
